<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.commands">
		<category
			id="godclassinspector.commands.category"
			name="God Class Analysis" />
		<command
			categoryId="godclassinspector.commands.category"
			name="Scan for Source Files of the Project"
			id="godclassinspector.commands.scanCommand">
		</command>
		<command
			categoryId="godclassinspector.commands.category"
			name="Detect God Classes if Exist"
			id="godclassinspector.commands.analyzeCommand">
		</command>
		<command
			categoryId="godclassinspector.commands.category"
			name="Scan And Detect God Classes if Exist"
			id="godclassinspector.commands.scanAndAnalyzeCommand">
		</command>
		<command
	        categoryId="godclassinspector.commands.category"
	        id="godclassinspector.commands.settings"
	        name="Change Settings">
		</command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
			class="godclassinspector.handlers.DiscoverHandler"
			commandId="godclassinspector.commands.scanCommand">
			<enabledWhen>
				<with variable="selection">
					<count value="1" />
					<iterate ifEmpty="false">
						<or>
							<instanceof
								value="org.eclipse.core.resources.IProject" />
							<instanceof
								value="org.eclipse.jdt.core.IJavaProject" />
						</or>
					</iterate>
				</with>
			</enabledWhen>
		</handler>

		<handler
			class="godclassinspector.handlers.AnalyzeHandler"
			commandId="godclassinspector.commands.analyzeCommand">
		</handler>
		
		<handler
			class="godclassinspector.handlers.ScanAndAnalyzeHandler"
			commandId="godclassinspector.commands.scanAndAnalyzeCommand">
			<enabledWhen>
				<with variable="selection">
					<count value="1" />
					<iterate ifEmpty="false">
						<or>
							<instanceof
								value="org.eclipse.core.resources.IProject" />
							<instanceof
								value="org.eclipse.jdt.core.IJavaProject" />
						</or>
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		
		<handler
		    class="godclassinspector.handlers.SettingsHandler"
		    commandId="godclassinspector.commands.settings">
		</handler>
	</extension>

	<extension point="org.eclipse.ui.menus">

		<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu
				id="godclassinspector.menus.mainMenu"
				label="God Class Inspector">
				<command
					commandId="godclassinspector.commands.scanCommand"
					label="Scan Project"
					tooltip="Scan for Source Files of the Project">
					<visibleWhen checkEnabled="false" />
				</command>

				<command
					commandId="godclassinspector.commands.analyzeCommand"
					label="Analyze Project"
					tooltip="Detect God Classes if Exist">
					<visibleWhen checkEnabled="false" />
				</command>
				
			    <command
			          commandId="godclassinspector.commands.scanAndAnalyzeCommand"
			          label="Scan And Analyze Project"
			          tooltip="Scan and Detect God Classes of the Project if Exists">
			       <visibleWhen
			             checkEnabled="false">
			       </visibleWhen>
			    </command>
			    
			    <separator
			          name="GodClassInspector.separator1"
			          visible="true">
			    </separator>
			    
			    <command
			          commandId="godclassinspector.commands.settings"
			          label="Change Settings"
			          style="push"
			          tooltip="Change Settings for the Detection">
			    </command>
				
			</menu>
		</menuContribution>

		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu
				id="godclassinspector.menus.contextMenu"
				label="God Class Inspector">
				<command
					commandId="godclassinspector.commands.scanCommand"
					label="Scan Project"
					tooltip="Detect source files of the project">
					<visibleWhen checkEnabled="true" />
				</command>
				
				<command
					commandId="godclassinspector.commands.scanAndAnalyzeCommand"
					label="Scan And Analyze Project"
					tooltip="Scan and Detect God Classes of the Project if Exists">
					<visibleWhen checkEnabled="true" />
				</command>
			</menu>
		</menuContribution>

	</extension>

	<extension point="org.eclipse.ui.views">
		<view
			class="godclassinspector.ui.FoundFilesUI"
			id="godclassinspector.ui.foundFiles"
			name="God Class Inspector">
		</view>
		
		<view
	         class="godclassinspector.ui.UmlDiagramUI"
	         id="godclassinspector.ui.umlDiagram"
	         name="UML With God Classes">
	   	</view>
	   	<view
	         id="godclassinspector.ui.refactoringSuggestions"
	         name="Refactoring Suggestions"
	         class="godclassinspector.ui.RefactoringSuggestionsUI">
   		</view>
	</extension>

</plugin>
